{% extends "bootstrap_responsive.html" %}

{%- block style %}
{{super()}}
    <style type="text/css">
        .modal {width:auto;}
    </style>
    <script src="{{'js/bootstrap.js'|bootstrap_find_resource}}"></script>
    <script src="{{'js/bootstrap-modal.js'|bootstrap_find_resource}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
$( document ).ready(function() {
        $.each($(".graphite_table"), function(index, item) {
            var div = $(item);
            $.get(div.attr("data-src"), function(data) {
                var headers = [];
                var rows = [];
                $.each(data[0].datapoints, function(key, val) {
                    dataDate = new Date(val[1] * 1000);
                    headers.push('<th>' + dataDate.toLocaleDateString() + '</th>');
                });
                $.each(data, function(key, val) {
                    var points = [];
                    $.each(val.datapoints, function(keyy, vall) {
                        points.push('<td>' + vall[0] + '</td>');
                    });
                    rows.push('<tr><td>' + val.target + '</td>' + points.join('') + '</tr>');
                });
                div.html('<table class="table table-stripped table-hover table-condensed"><caption><h4>' + div.attr("data-title") + '</h4></caption><thead><tr><td></td>' + headers.join('') + '</tr></thead><tbody>' + rows.join('') + '</tbody></table>');
            });
        });
        $.each($(".lazyimg"), function(index, img) {
            $(img).attr("src", $(img).attr("lazy-src"));
        });
{% for graph in node.graphs %}
        $('#myModal{{ loop.index }}').on('shown', function () {
            $('#myModalImg{{ loop.index }}').attr("src", $('#myModalImg{{ loop.index }}').attr("lazy-src"));
        });
{% endfor %}
});
    </script>
{% endblock %}

{% block body_content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Service Status Dashboard</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% for category in categories %}
              <li{% if category.name == current_category %} class="active"{% endif %} ><a href="{{ category.url }}">{{ category.name|capitalize }}</a></li>
              {% endfor %}
              <li class="divider-vertical"></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select range<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Last 24 hours</a></li>
                    <li><a href="#">Last 3 days</a></li>
                    <li><a href="#">Last week</a></li>
                </ul>
              </li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          {% for nn in nodes %}
          <li{% if nn.name == current_node %} class="active"{% endif %}><a href="{{ nn.url }}">{{ nn.name}}</a></li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="{{ node.name|replace(".","")|replace("-","") }}">
              <h3>{{ node.name }} {% if node.description %}({{ node.description}}){% endif %}</h3>
            <ul class="thumbnails">
              {% for graph in node.graphs %}
              <li class="span4">
              <a href="#myModal{{ loop.index }}" role="button" class="btn" data-toggle="modal"><img class="lazyimg" src="{{ url_for('static', filename='loading.gif') }}" lazy-src="{{ graph }}&width=320" alt=""></a>
                <div class="modal hide fade" id="myModal{{ loop.index }}" role="dialog" aria-labelledby="myModalLabel{{ loop.index }}" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel{{ loop.index }}">{{ node.name }}</h3>
                  </div>
                  <div class="modal-body">
                      <p><img id="myModalImg{{ loop.index }}" src="{{ url_for('static', filename='loading.gif') }}" lazy-src="{{ graph }}&width=600" alt=""></p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% for table in node.tables %}
            <div class="graphite_table" data-title="{{ table.title }}" data-src="{{ table.url }}">Loading {{ table.title }} data ... <img src="{{ url_for('static', filename='loading.gif') }}" alt="" width="50" height="50" /></div>
            {% endfor %}
          </div>
        </div>
      </div>


      <hr>

      <footer>
        <p>&copy; NetAngels 2013</p>
      </footer>

    </div> <!-- /container -->
{% endblock %}
